@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Podkova:400,500,600,700,800&display=swap');

/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

 button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

html, body, #root, .wrapper {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  box-shadow: 2px 4px 10px #000;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 7%;
}

.logo-container:hover img {
  animation: cog 5s infinite;
}

.header img {
  height: 65px;
}

@keyframes cog {
  100%{ 
    transform: rotate(360deg)
  }
}

.header h2 {
  font-size: 43px;
  font-family: 'Bebas Neue';
  }

.header button {
  margin-top: 0.4%;
  margin-right: 7%;
  color: #000;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.5px;
  font-family: 'Bebas Neue';
  outline: none;
  text-decoration: none;
  position: relative;
}

.header button:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}

.header button:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

.body {
  height: 100%;
  background-image: url(./assets/seth-williams-WJrv9B42Z_E-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.applications {
  display: flex;
  flex-flow: row wrap;
}

.form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-family: 'Podkova';
  font-size: 19px;
  margin-left: 7%;
  margin-right: 5%;

}

.form label {
  display: block;
  padding: 15px;
  width: 50%;
}

.form input[type=radio] {
  display: inline;
}

.form select {
  font-family: 'Podkova';
  font-size: 17px;
  border-radius: 4px;
  margin: 10px;
  padding: 5px;
}

.form textarea {
  width: 300px;
  height: 80px;
}

input:focus {
  outline: none;
}

.form button {
  margin-left: 44%;
  text-transform: uppercase;
}


.application {
  position: relative;
  padding: 25px;
  margin: 30px;
  background-color: rgba(243, 243, 243, 0.88);
  border-radius: 4%;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform .2s;
  max-width: 500px;
  overflow-wrap: break-word;
}

.application:hover {
  transform: scale(1.1);
}

.label {
  font-family: 'Podkova';
  font-size: 22px;
  color: #8B4513;
}

.application span, .input {
  font-style: italic;
  color: #000;
}

.button-bar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 25px;
}

.button-bar button {
  padding: 0 3px;
}

